.cont-promax{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido{
    width: 70%;
    height: 40%;
    background-color:  rgb(230, 230, 230);
    border-radius: 10px;
}
.icono{
width: 60px;
height: 60px;
}
.logo{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.parrafo{
    text-align: center;
}
.formu{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
    width: 80%;
    height: 60%;
}
.input{
    width: 100%;
    height: 30%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.input-field{
        width: 80%;
        height: 40%;
        border: none;
        border-radius: 15px;
}
.botones{
    margin-top: 20px;
    width: 100%;
    height: 15%; 
    display: flex;
    justify-content: center;
    align-items:center ;  
}
.btn-a{
    width: 40%;
    height: 60%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(102, 66, 212);
}

@media all and (min-width:800px){
    html,body{
        background-color: rgb(249, 249, 249);
    }
    .contenido{
        width: 60%;
        height: 50%;
        background-color: rgb(230, 230, 230);
        display: flex;

    }
    .header{
        width: 40%;
        height: 100%;
        background-image: url(/src/components/img/esta.jpg) ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    } 
    .icono{
    width: 60px;
    height: 60px;
    }
    .logo{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .parrafo{
        text-align: center;
    }
    .formu{
        width: 60%;
        height: 100%; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .formulario{
        width: 80%;
        height:55%;
        margin-top: 10%;
    }

    .input{
        width: 100%;
        height: 30%; 
        display: flex;
        align-items:center ;
        flex-direction: column;
    }
    .input-field{
        width: 80%;
        height: 40%;
        border: none;
        border-radius: 15px;
    }
    .botones{
        margin-top: 20px;
        width: 100%;
        height: 20%; 
        display: flex;
        justify-content: center;
        align-items:center ;  
    }
    .btn-a{
        width: 40%;
        height: 60%;
        border: none;
        border-radius: 10px;
        background-color: rgb(102, 66, 212);
    }
}
@media all and (min-width:1280px){
    html,body{
        background-color: rgb(249, 249, 249);
    }
    .contenido{
        width: 40%;
        height: 50%;
        background-color: rgb(230, 230, 230);
        display: flex;

    }
    .header{
        width: 40%;
        height: 100%;
        background-image: url(/src/components/img/esta.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px 0px 0px 10px;
    } 
    .icono{
    width: 60px;
    height: 60px;
    }
    .logo{
        width: 80%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .parrafo{
        text-align: center;
    }

}
