.cont-promax{
    width: 80%; 
    height: 50%;
    background-color: rgb(165, 237, 237);
    border-radius: 10px 10px;
    }
.icono-1{
    color: rgb(125, 184, 235);
    width: 60px;
    height: 60px;
}
.header-1{
    width: 100%;
    height: 20%;
    border-radius: 10px 10px 0px 0px;
}
.contenido-1{
    width: 80%;
    height: 60%;
    border-radius: 10px;
    background-color: aquamarine;
}
.formulario-1{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opciones-1{
    width: 90%;
    height: 20%;
}
.selecciona-1{
    height: 30%;
    width: 90%;
    background-color: rgba(240, 248, 255, 0.657);
    border-radius: 10px 10px;
}
.input-1{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-field-1{
    background-color: rgba(240, 248, 255, 0.657);
    border-radius: 10px 10px;
    height: 30%;
    border: none;
    width: 90%;
}
.botones-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
    gap: 5px;
    border-radius: 10px 10px;
}
.btn-a-1{
    background-color: rgba(240, 248, 255, 0.907);
    border-radius: 5px 5px;
    width: 40%;
    height: 30%;
    border: none;
}

.seleccionar{
    margin-top: 10px;
    width: 50%;
    background-color: rgba(221, 244, 245, 0.924);
    border-radius: 10px 10px;
}
.opcion{
    background-color: rgba(236, 236, 236, 0.773);
}